@import "tailwindcss";
@tailwind utilities;

:root {
    --background: #f8f9fa;
    --foreground: #ffffff; /* Cards */
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-inter: var(--font-title);
    --font-roboto: var(--font-body);
    --color-primary: #000000; /* Buttons, Links, Highlights and interactive elements */
    --color-secondary: #000000; /* Backgrounds, Sections, and large blocks of content */
    --color-text: #000000; /* Body text, ensuring readability */
    --color-accent: #000000; /* Headlines, borders and subtle dividers */
    --color-success: #000000; /* Success messages, status indicators, or positive feedback */
    --color-error: #000000; /* Error messages, warnings, or destructive actions */

    --animate-move: move 5s linear infinite;

    @keyframes move {
        0% {
            transform: translateX(-200px);
        }
        100% {
            transform: translateX(200px);
        }
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-body);
}

h1 {
    font-family: var(--font-title);
}
